<h1>Add a recipe</h1>

<form action="/recipes" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="name">Description</label>
    <input type="text" name="description">
  </div>
  <div>
    <label for="name">Preparation time</label>
    <input type="text" name="prep_time">
  </div>
  <div>
    <label for="name">Rating</label>
    <input type="text" name="rating">
  </div>
  <div>
    <label for="name">Done?</label>
    <input type="text" name="done">
  </div>
  <input type="submit" value="Add to cookbook">
</form>